    <div class="profile-card ProfileCard with-banner with-social-proof component profile-header hovercard gravity-north weight-left"
        data-component-context="profile_hover">
        <div class="hover-offset">
            <div class="arrow" style=""></div>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="300" height="100"
                viewBox="0 0 600 200">
                <defs>
                    <clipPath id="clipping">
                        <polygon points="50,10 60,0 70,10 50,10"></polygon>
                    </clipPath>
                </defs>
                <image xlink:href="{{user.profileBanner}}" width="600"
                    height="200" clip-path="url(#clipping)"></image>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="300" height="100"
                viewBox="0 0 600 200" class="right-side">
                <defs>
                    <clipPath id="clipping">
                        <polygon points="450,10 460,0 470,10 450,10"></polygon>
                    </clipPath>
                </defs>
                <image xlink:href="{{user.profileBanner}}" width="600"
                    height="200" clip-path="url(#clipping)"></image>
            </svg>
        </div>

        <div class="ProfileCard-bg" style="background-image: url('{{user.profileBanner}}')">
            <div class="dismiss js-action-dismiss profile-card-dismiss">
                <span class="Icon Icon--close"  style="background: rgba(0,0,0,0.5);color: white;border-radius: 50%;padding: 0 3px 1px;right: 15px;"></span>
            </div>
        </div>

        <a href="https://twitter.com/{{user.screenName}}" class="ProfileCard-avatarLink js-nav" tabindex="-1" aria-hidden="true"
            data-send-impression-cookie="true">
            <span class="visuallyhidden">{{user.screenName}}</span>
            <img src="{{user.profileImage}}" alt="" class="ProfileCard-avatarImage js-action-profile-avatar">
        </a>

        <div class="ProfileCard-actions">
            <div class="UserActions UserActions--small u-textLeft">
                {{#if user.isFF}}
                {{/if}}
                <button type="button" class="Add-FF5-User EdgeButton EdgeButton--primary EdgeButton--small button-text unfollow-text">
                    <span aria-hidden="true" data-ff5-id="{{user.id}}" data-ff5-name="{{user.screenName}}">Add to FF5</span>
                </button>
            </div>
        </div>

        <div class="ProfileCard-content " data-screen-name="{{user.screenName}}" data-user-id="{{user.id}}">
            <div class="ProfileCard-userFields">
                <div class="ProfileNameTruncated account-group">
                    <div class="u-textTruncate u-inlineBlock">
                        <a class="fullname ProfileNameTruncated-link u-textInheritColor js-nav" href="/{{user.screenName}}" data-aria-label-part="" data-send-impression-cookie="true">{{user.screenName}}</a>
                    </div>
                    <span class="UserBadges"></span>
                </div>
                <div class="ProfileCard-screenname">
                    <a href="/{{user.screenName}}" class="ProfileCard-screennameLink u-linkComplex js-nav" data-aria-label-part="" data-send-impression-cookie="true">
                        <span class="username u-dir" dir="ltr">@<b class="u-linkComplex-target">{{user.screenName}}</b></span>
                    </a>
                </div>
            </div>

            <div class="bio-container">
                <p class="bio profile-field u-dir" dir="ltr">{{user.description}}</p>
            </div>
        </div>
        
        <div class="ProfileCardStats">
            <ul class="ProfileCardStats-statList Arrange Arrange--bottom Arrange--equal">
                <li class="ProfileCardStats-stat Arrange-sizeFit">
                    <a class="ProfileCardStats-statLink u-textUserColor u-linkClean u-block js-nav js-tooltip" title="{{user.rank}} Rank" href="/{{user.screenName}}" data-element-term="follower_stats" data-send-impression-cookie="true">
                        <span class="ProfileCardStats-statLabel u-block">Rank</span>
                        <span class="ProfileCardStats-statValue" data-count="{{user.rank}}" data-is-compact="false">{{user.rank}}</span>
                    </a>
                </li>
                <li class="ProfileCardStats-stat Arrange-sizeFit">
                    <a class="ProfileCardStats-statLink u-textUserColor u-linkClean u-block js-nav js-tooltip" title="{{user.tweets}} Tweets" href="/{{user.screenName}}" data-element-term="tweet_stats" data-send-impression-cookie="true">
                        <span class="ProfileCardStats-statLabel u-block">Tweets</span>
                        <span class="ProfileCardStats-statValue" data-count="{{user.tweets}}" data-is-compact="false">{{user.ui.tweets}}</span>
                    </a>
                </li>
                <li class="ProfileCardStats-stat Arrange-sizeFit">
                    <a class="ProfileCardStats-statLink u-textUserColor u-linkClean u-block js-nav js-tooltip" title="{{user.followers}} Followers" href="/{{user.screenName}}/followers" data-element-term="follower_stats" data-send-impression-cookie="true">
                        <span class="ProfileCardStats-statLabel u-block">Followers</span>
                        <span class="ProfileCardStats-statValue" data-count="{{user.followers}}" data-is-compact="false">{{user.ui.followers}}</span>
                    </a>
                </li>
                <li class="ProfileCardStats-stat Arrange-sizeFit">
                    <a class="ProfileCardStats-statLink u-textUserColor u-linkClean u-block js-nav js-tooltip" title="{{user.friends}} Followers" href="/{{user.screenName}}/followers" data-element-term="follower_stats" data-send-impression-cookie="true">
                        <span class="ProfileCardStats-statLabel u-block">Following</span>
                        <span class="ProfileCardStats-statValue" data-count="{{user.friends}}" data-is-compact="false">{{user.ui.friends}}</span>
                    </a>
                </li>
                <li class="ProfileCardStats-stat Arrange-sizeFit">
                    <a class="ProfileCardStats-statLink u-textUserColor u-linkClean u-block js-nav js-tooltip" title="{{user.friends}} Followers" href="/{{user.screenName}}/followers" data-element-term="follower_stats" data-send-impression-cookie="true">
                        <span class="ProfileCardStats-statLabel u-block">FF5</span>
                        <span class="ProfileCardStats-statValue" data-count="{{user.ff5.length}}" data-is-compact="false">{{user.ff5.length}}</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>