<div class="row m-auto p-1 w-90 retweet-container crimson-bg carnation-color">
    <div class="m-1 col-2"><a href="#" data-toggle="collapse" data-target="#{{status.collapse}}">▲</a> </div>
    <div class="m-1 col-2"><a href="#" data-selected="{{status.favorited}}" data-id="{{status.id}}" data-action="favorite">{{status.favorite_icon}}</a> {{status.retweets}}</div>
    <div class="m-1 col-2"><a href="#" data-selected="{{status.retweeted}}" data-id="{{status.id}}" data-action="retweet">{{status.retweet_icon}}</a> {{status.favorites}}</div>
</div>