<li class="js-stream-item stream-item stream-item js-activity js-activity-reply" data-item-id="1149005431877935104"
    id="stream-item-activity-1149005431877935104" data-item-type="activity" data-component-context="reply_activity">
    <div class="tweet js-stream-tweet js-actionable-tweet js-profile-popup-actionable dismissible-content original-tweet js-original-tweet has-cards has-content favorited"
        data-tweet-id="1149005431877935104" data-item-id="1149005431877935104"
        data-permalink-path="/amina_leeds/status/1149005431877935104" data-conversation-id="1148782025144508419"
        data-is-reply-to="true" data-has-parent-tweet="true"
        data-tweet-nonce="1149005431877935104-47da1b8a-2612-4064-89af-c8ca59913428" data-tweet-stat-initialized="true"
        data-screen-name="amina_leeds" data-name="❤🖤Amina🖤❤" data-user-id="883851504704081920" data-you-follow="true"
        data-follows-you="true" data-you-block="false" data-mentions="johnfpendleton"
        data-reply-to-users-json="[{&quot;id_str&quot;:&quot;883851504704081920&quot;,&quot;screen_name&quot;:&quot;amina_leeds&quot;,&quot;name&quot;:&quot;\u2764\ud83d\udda4Amina\ud83d\udda4\u2764&quot;,&quot;emojified_name&quot;:{&quot;text&quot;:&quot;\u2764\ud83d\udda4Amina\ud83d\udda4\u2764&quot;,&quot;emojified_text_as_html&quot;:&quot;\u003cspan class=\&quot;Emoji Emoji--forLinks\&quot; style=\&quot;background-image:url('https:\/\/abs.twimg.com\/emoji\/v2\/72x72\/2764.png')\&quot; title=\&quot;Red heart\&quot; aria-label=\&quot;Emoji: Red heart\&quot;\u003e&amp;nbsp;\u003c\/span\u003e\u003cspan class=\&quot;visuallyhidden\&quot; aria-hidden=\&quot;true\&quot;\u003e\u2764\u003c\/span\u003e\u003cspan class=\&quot;Emoji Emoji--forLinks\&quot; style=\&quot;background-image:url('https:\/\/abs.twimg.com\/emoji\/v2\/72x72\/1f5a4.png')\&quot; title=\&quot;Black heart\&quot; aria-label=\&quot;Emoji: Black heart\&quot;\u003e&amp;nbsp;\u003c\/span\u003e\u003cspan class=\&quot;visuallyhidden\&quot; aria-hidden=\&quot;true\&quot;\u003e\ud83d\udda4\u003c\/span\u003eAmina\u003cspan class=\&quot;Emoji Emoji--forLinks\&quot; style=\&quot;background-image:url('https:\/\/abs.twimg.com\/emoji\/v2\/72x72\/1f5a4.png')\&quot; title=\&quot;Black heart\&quot; aria-label=\&quot;Emoji: Black heart\&quot;\u003e&amp;nbsp;\u003c\/span\u003e\u003cspan class=\&quot;visuallyhidden\&quot; aria-hidden=\&quot;true\&quot;\u003e\ud83d\udda4\u003c\/span\u003e\u003cspan class=\&quot;Emoji Emoji--forLinks\&quot; style=\&quot;background-image:url('https:\/\/abs.twimg.com\/emoji\/v2\/72x72\/2764.png')\&quot; title=\&quot;Red heart\&quot; aria-label=\&quot;Emoji: Red heart\&quot;\u003e&amp;nbsp;\u003c\/span\u003e\u003cspan class=\&quot;visuallyhidden\&quot; aria-hidden=\&quot;true\&quot;\u003e\u2764\u003c\/span\u003e&quot;}}]"
        data-disclosure-type="" data-has-cards="true">
        <div class="context">
        </div>
        <div class="content">
            <div class="stream-item-header">
                <a class="account-group js-account-group js-action-profile js-user-profile-link js-nav"
                    href="/amina_leeds" data-user-id="883851504704081920">
                    <img class="avatar js-action-profile-avatar"
                        src="https://pbs.twimg.com/profile_images/1103144649349185536/OKfLxRC1_bigger.jpg" alt="">
                    <span class="FullNameGroup">
                        <strong class="fullname show-popup-with-id u-textTruncate " data-aria-label-part="">
                            <span class="Emoji Emoji--forLinks"
                                style="background-image:url('https://abs.twimg.com/emoji/v2/72x72/2764.png')"
                                title="Red heart" aria-label="Emoji: Red heart">&nbsp;</span>
                            <span class="visuallyhidden" aria-hidden="true">❤</span>
                            <span class="Emoji Emoji--forLinks"
                                style="background-image:url('https://abs.twimg.com/emoji/v2/72x72/1f5a4.png')"
                                title="Black heart" aria-label="Emoji: Black heart">&nbsp;</span>
                            <span class="visuallyhidden" aria-hidden="true">🖤</span>Amina<span
                                class="Emoji Emoji--forLinks"
                                style="background-image:url('https://abs.twimg.com/emoji/v2/72x72/1f5a4.png')"
                                title="Black heart" aria-label="Emoji: Black heart">&nbsp;</span>
                            <span class="visuallyhidden" aria-hidden="true">🖤</span>
                            <span class="Emoji Emoji--forLinks"
                                style="background-image:url('https://abs.twimg.com/emoji/v2/72x72/2764.png')"
                                title="Red heart" aria-label="Emoji: Red heart">&nbsp;</span>
                            <span class="visuallyhidden" aria-hidden="true">❤</span>
                        </strong>
                        <span>‏</span>
                        <span class="UserBadges">
                        </span>
                        <span class="UserNameBreak">&nbsp;</span>
                    </span>
                    <span class="username u-dir u-textTruncate" dir="ltr" data-aria-label-part="">@<b>amina_leeds</b>
                    </span>
                </a>
                <small class="time">
                    <a href="/amina_leeds/status/1149005431877935104"
                        class="tweet-timestamp js-permalink js-nav js-tooltip" title="12:20 PM - 10 Jul 2019"
                        data-conversation-id="1148782025144508419">
                        <span class="_timestamp js-short-timestamp js-relative-timestamp" data-time="1562779217"
                            data-time-ms="1562779217000" data-long-form="true" aria-hidden="true">7h</span>
                        <span class="u-hiddenVisually" data-aria-label-part="last">7 hours ago</span>
                    </a>
                </small>
                <div class="ProfileTweet-action ProfileTweet-action--more js-more-ProfileTweet-actions">
                    <div class="dropdown">
                        <button
                            class="ProfileTweet-actionButton u-textUserColorHover dropdown-toggle js-dropdown-toggle"
                            type="button" id="menu-0">
                            <div class="IconContainer js-tooltip" data-original-title="More">
                                <span class="Icon Icon--caretDownLight Icon--small">
                                </span>
                                <span class="u-hiddenVisually">More</span>
                            </div>
                        </button>
                        <div class="dropdown-menu is-autoCentered">
                            <div class="dropdown-caret">
                                <div class="caret-outer">
                                </div>
                                <div class="caret-inner">
                                </div>
                            </div>
                            <ul tabindex="-1" role="menu" aria-labelledby="menu-0" aria-hidden="true">
                                <li class="copy-link-to-tweet js-actionCopyLinkToTweet" role="presentation">
                                    <button type="button" class="dropdown-link" role="menuitem">Copy link to
                                        Tweet</button>
                                </li>
                                <li class="embed-link js-actionEmbedTweet" data-nav="embed_tweet" role="presentation">
                                    <button type="button" class="dropdown-link" role="menuitem">Embed Tweet</button>
                                </li>
                                <li class="mute-user-item" role="presentation">
                                    <button type="button" class="dropdown-link" role="menuitem">Mute <span
                                            class="username u-dir u-textTruncate" dir="ltr">@<b>amina_leeds</b>
                                        </span>
                                    </button>
                                </li>
                                <li class="unmute-user-item" role="presentation">
                                    <button type="button" class="dropdown-link">Unmute <span
                                            class="username u-dir u-textTruncate" dir="ltr">@<b>amina_leeds</b>
                                        </span>
                                    </button>
                                </li>
                                <li class="mute-conversation-item" role="presentation">
                                    <button type="button" class="dropdown-link" role="menuitem">Mute this
                                        conversation</button>
                                </li>
                                <li class="unmute-conversation-item" role="presentation">
                                    <button type="button" class="dropdown-link">Unmute this conversation</button>
                                </li>
                                <li class="block-link js-actionBlock" data-nav="block" role="presentation">
                                    <button type="button" class="dropdown-link" role="menuitem">Block <span
                                            class="username u-dir u-textTruncate" dir="ltr">@<b>amina_leeds</b>
                                        </span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ReplyingToContextBelowAuthor" data-aria-label-part="">Replying to <a
                    class="pretty-link js-user-profile-link" href="/johnfpendleton" data-user-id="805852551090470914"
                    rel="noopener" dir="ltr">
                    <span class="username u-dir u-textTruncate" dir="ltr">@<b>johnfpendleton</b>
                    </span>
                </a>
            </div>
            <div class="js-tweet-text-container">
                <p class="TweetTextSize  js-tweet-text tweet-text" lang="en" data-aria-label-part="0"><img class="Emoji Emoji--forText" src="https://abs.twimg.com/emoji/v2/72x72/2764.png" draggable="false" alt="❤" title="Red heart" aria-label="Emoji: Red heart"> it! Can't wait till you annouce FINALLY that it's being published. We will be waiting patiently...<a href="https://t.co/7aqSi8mdPe" class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr">pic.twitter.com/7aqSi8mdPe</a></p>
            </div>
            <div class="AdaptiveMediaOuterContainer">
                <div class="AdaptiveMediais-video">
                    <div class="AdaptiveMedia-container">
                        <div class="AdaptiveMedia-video">
                            <div class="AdaptiveMedia-videoContainer">
                                <div class="PlayableMedia PlayableMedia--gif watched playable-media-loaded">
                                    <div class="PlayableMedia-container">
                                        <div class="PlayableMedia-player" data-playable-media-url=""
                                            data-use-react-player="" data-use-b-version-of-react-player=""
                                            data-use-player-precache="" data-border-top-left-radius=""
                                            data-border-top-right-radius="" data-border-bottom-left-radius=""
                                            data-border-bottom-right-radius=""
                                            style="padding-bottom: 66.66666666666666%; background-image:url('https://pbs.twimg.com/tweet_video_thumb/D_IWWPOU4AA6RNP.jpg')">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="stream-item-footer">
                <div class="ProfileTweet-actionCountList">
                    <span class="ProfileTweet-action--reply">
                        <span class="ProfileTweet-actionCount" aria-hidden="true" data-tweet-stat-count="0">
                            <span class="ProfileTweet-actionCountForAria"
                                id="profile-tweet-action-reply-count-aria-1149005431877935104">0 replies</span>
                        </span>
                    </span>
                    <span class="ProfileTweet-action--retweet">
                        <span class="ProfileTweet-actionCount" aria-hidden="true" data-tweet-stat-count="0">
                            <span class="ProfileTweet-actionCountForAria"
                                id="profile-tweet-action-retweet-count-aria-1149005431877935104">0 retweets</span>
                        </span>
                    </span>
                    <span class="ProfileTweet-action--favorite">
                        <span class="ProfileTweet-actionCount ProfileTweet-actionCount--isZero" aria-hidden="true"
                            data-tweet-stat-count="0">
                            <span class="ProfileTweet-actionCountForAria"
                                id="profile-tweet-action-favorite-count-aria-1149005431877935104">0 likes</span>
                        </span>
                    </span>
                </div>
                <div class="ProfileTweet-actionList js-actions buffer-inserted" role="group" aria-label="Tweet actions">
                    <div class="ProfileTweet-action ProfileTweet-action--reply">
                        <button class="ProfileTweet-actionButton js-actionButton js-actionReply"
                            data-modal="ProfileTweet-reply" type="button"
                            aria-describedby="profile-tweet-action-reply-count-aria-1149005431877935104">
                            <div class="IconContainer js-tooltip" title="Reply">
                                <span class="Icon Icon--medium Icon--reply">
                                </span>
                                <span class="u-hiddenVisually">Reply</span>
                            </div>
                            <span class="ProfileTweet-actionCount ProfileTweet-actionCount--isZero ">
                                <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">
                                </span>
                            </span>
                        </button>
                    </div>
                    <div class="ProfileTweet-action ProfileTweet-action--retweet js-toggleState js-toggleRt">
                        <button class="ProfileTweet-actionButton  js-actionButton js-actionRetweet"
                            data-modal="ProfileTweet-retweet" type="button"
                            aria-describedby="profile-tweet-action-retweet-count-aria-1149005431877935104">
                            <div class="IconContainer js-tooltip" title="Retweet">
                                <span class="Icon Icon--medium Icon--retweet">
                                </span>
                                <span class="u-hiddenVisually">Retweet</span>
                            </div>
                            <span class="ProfileTweet-actionCount ProfileTweet-actionCount--isZero">
                                <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">
                                </span>
                            </span>
                        </button>
                        <button class="ProfileTweet-actionButtonUndo js-actionButton js-actionRetweet"
                            data-modal="ProfileTweet-retweet" type="button">
                            <div class="IconContainer js-tooltip" title="Undo retweet">
                                <span class="Icon Icon--medium Icon--retweet">
                                </span>
                                <span class="u-hiddenVisually">Retweeted</span>
                            </div>
                            <span class="ProfileTweet-actionCount ProfileTweet-actionCount--isZero">
                                <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">
                                </span>
                            </span>
                        </button>
                    </div>
                    <div class="ProfileTweet-action ProfileTweet-action--favorite js-toggleState">
                        <button class="ProfileTweet-actionButton js-actionButton js-actionFavorite" type="button"
                            aria-describedby="profile-tweet-action-favorite-count-aria-1149005431877935104">
                            <div class="IconContainer js-tooltip" data-original-title="Like">
                                <span role="presentation" class="Icon Icon--heart Icon--medium">
                                </span>
                                <div class="HeartAnimation">
                                </div>
                                <span class="u-hiddenVisually">Like</span>
                            </div>
                            <span class="ProfileTweet-actionCount ProfileTweet-actionCount--isZero" aria-hidden="true"
                                data-tweet-stat-count="0">
                                <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">
                                </span>
                            </span>
                        </button>
                        <button
                            class="ProfileTweet-actionButtonUndo ProfileTweet-action--unfavorite u-linkClean js-actionButton js-actionFavorite"
                            type="button">
                            <div class="IconContainer js-tooltip" data-original-title="Undo like">
                                <span role="presentation" class="Icon Icon--heart Icon--medium">
                                </span>
                                <div class="HeartAnimation">
                                </div>
                                <span class="u-hiddenVisually">Liked</span>
                            </div>
                            <span class="ProfileTweet-actionCount ProfileTweet-actionCount--isZero" aria-hidden="true"
                                data-tweet-stat-count="0">
                                <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">
                                </span>
                            </span>
                        </button>
                    </div>
                    <div class="ProfileTweet-action ProfileTweet-action--dm">
                        <button
                            class="ProfileTweet-actionButton u-textUserColorHover js-actionButton js-actionShareViaDM"
                            type="button" data-nav="share_tweet_dm">
                            <div class="IconContainer js-tooltip" title="Direct message">
                                <span class="Icon Icon--medium Icon--dm">
                                </span>
                                <span class="u-hiddenVisually">Direct message</span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>

{{!-- {{#if sub}}
<div class="container w-80 m-1">
{{else}}
<div class="container w-100 m-1">
{{/if}}
    {{#if status.retweetStatus}}
    <div class="coral-bg">
    {{else}}
    <div class="crimson-bg silver-color p-3">
    {{/if}}
        {{#unless sub}}
            {{#> user-mini user=status.user}}
                user-mini failover
            {{/user-mini}}
        {{/unless}}

        <a data-toggle="collapse" data-target="#{{status.collapse}}">
        {{#unless status.retweetStatus}}
            <div class="stream-time">{{status.createDate}}</div>
            <div class="sub-stream collapse" id="{{status.collapse}}">
        {{/unless}}
                {{#if sub}}
                    {{#> user-mini user=status.user}}
                        user-mini failover
                    {{/user-mini}}
                {{/if}}

                {{#if status.retweetStatus}}
                    {{#> stream-item status=status.retweetStatus sub=true}}
                    retweet stream-item failover
                {{/stream-item}}
                {{else}}
                    <div>{{{status.text}}}</div>
                {{/if}}
        </a>

        {{#unless status.retweetStatus}}
            </div>
            {{#> like-retweet status=status}}
            {{/like-retweet}}
        {{/unless}}
    </div>
</div> --}}